@import url("balisage-plain.css");

/* Proceedings stylesheet specifies settings for Proceedings page */

body { background-color: #E8EAFF }

div#balisage-header,
div#balisage-footer
{
  font-style: italic;
  background-color: #6699CC 
}

div#balisage-header
{
  width: 100%;
  position: absolute;
  top:0px;
  left: 0px;
  height: 105px 
}

div#balisage-footer
{
  margin-top: 1em;
  border: thin midnightblue inset 
}

div#navbar
{
  position: absolute;
  top: 105px;
  left: 0px;
  height: 30px;
  width: 100%;
  background-color: #6699CC;
  border-bottom: thin outset midnightblue;
  color: lightgrey;
  font-family: sans-serif;
  font-size: 80%
}

div#mast, div#index-mast
{
  position: absolute;
  top: 135px;
  bottom: 0px;
  left: 0px;
  width: 30%;
  font-size: 90%;
  border-right: thin midnightblue outset;
  overflow:auto 
}

div#index-mast { width: 25% }

div#main, div#index-main
{
  position: absolute;
  top: 135px;
  bottom: 0px;
  left: 30%;
  width:70%;
  overflow:auto 
}

div#index-main { left: 25%;  width: 75% }

div#author-keywords
{
  background-color: white;
  border: thin solid lightgrey;
  margin: 0.5em;
  padding: 0.5em 
}

div#author-keywords h5.keywords
{ margin: 0em }
  
div#author-keywords h5.keywords span.label {
  font-style: italic }

div.toc, div.author-block { margin-top:0.5em }

img.sponsor-logo { border: none;
  padding-left: 1em;
  padding-right: 1em;
  vertical-align: top }

div.article > p, div.section > p {  line-height: 130% }

p { margin-top: 1.5ex;
    margin-bottom: 0em }

a { color: #6666FF;
    text-decoration: none }
a.site-navbar-link,
a.site-navbar-link:visited,
a.site-navbar-link:hover
  { color: white }

a:visited
{ color: #336699 }

a:hover
{ color: midnightblue;
  text-decoration: underline }

a.quiet:hover { text-decoration: none }

a.navbar-link,
a.navbar-link:visited,
a.navbar-link:hover
  { color: white;
    padding: 2px }
a.navbar-link:hover
  { background-color: midnightblue }
  
.inline-citation {
  display: none;
  position: absolute;
  border: thin solid #336699;
  background-color: white;
  font-size: 75%;
  font-family: sans-serif;
  padding: 5px;
  z-index: 2  }


