th, td { padding: 0em 0.5em }

.smmry > tr > th, .smmry > tr > td { border: thin solid black; padding: 0.4em }
.smmry th:first-child { text-align: right }
.lbl { font-weight: bold; font-family: sans-serif }
.smmry .lit { font-family: 'IBM Plex Mono', monospace; background-color: gainsboro }

pre { font-family: 'IBM Plex Mono', monospace }


div.sketch { margin: 1em; padding: 1em; border:thin solid black }

table td, table tr { vertical-align: text-top }

td.n { font-size: 68% }

th { work-break: keep-all }
td.bar { word-break: break-all; font-size: 60% }
b.s { color: forestgreen }
b.t { color: blue }
